body{
    font-family: Arial;
    padding: 30px;
    background: #f4f6f8;
}

h1{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th{
    background: #2c3e50;
    color: white;
}

td, th{
    padding: 12px;
    text-align: center;
}

a{
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.cards{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3{
    margin-bottom: 10px;
    color: #2c3e50;
}

.card p{
    font-size: 22px;
    font-weight: bold;
    color: #27ae60;
}
